<div class="bg-white shadow rounded">
  <div class="px-4 py-2 sm:px-6 bg-gray-50 border-b border-gray-200">
    <p class="w-2xl text-me text-gray-500 font-bold"><%= action_name == "new"  ? "Create a new category record" : "Update category details" %></p>
  </div>

  <div class="p-4">
    <%= form_with(model: category) do |form| %>
      <%= render "layouts/validation_errors", validation_errors:@category.errors if @category.errors.present? %>

      <div class="mb-4">
        <%= form.label :name, class: "block mb-1 text-gray-700" %>
        <%= form.text_field :name, class: "w-full p-2 border rounded", placeholder: "Category name" %>
      </div>

      <div class="mb-4">
        <%= form.label :parent_id, "Parent Category", class: "block mb-1 text-gray-700" %>
        <%= form.select :parent_id,
                        categories_selector(@user_categories),
                        { include_blank: "No parent (top-level category)" },
                        { class: "w-full p-2 border rounded" } %>
      </div>

      <div class="flex justify-center pt-4">
        <%= link_to "Cancel", categories_path, class: "bg-white px-4 py-2 border rounded mr-2 text-gray-700" %>
        <%= form.submit class: "px-4 py-2 bg-indigo-600 text-white rounded" %>
      </div>
    <% end %>
  </div>
</div>