<p style="color: green"><%= notice %></p>

<% content_for :title, "Expenses" %>

<h1>Expenses</h1>
<%= button_to "New expense", new_expense_path, method: :get %>

<div id="expenses">
  <table>
    <tr>
      <th>Amount</th>
      <th>Description</th>
      <th>Category</th>
    </tr>

    <% @expenses.each do |expense| %>
      <tr>
        <td><%= link_to expense.amount, edit_expense_path(expense) %></td>
        <td><%= expense.description %></td>
        <td><%= expense.category.name  %></td>
      </tr>
    <% end %>
  </table>

</div>

